.advantages {
  padding-bottom: 42px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $white;
}

.advantages__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  font-family: $Oswald;
  color: $black;
}

.advantages__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: $Arial;
  color: $gray-68;
}
