.btn {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: $Oswald;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #68b738;
}

.btn--others {
  color: #444444;
  background-color: #f2f2f2;
}
