.btn {
  display: block;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: $Oswald;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  border: none;

  &:hover {
    background-color: #5eaa2f;
    cursor: pointer;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $media-tablet) {
    min-width: 245px;
    padding-top: 15px;
    padding-bottom: 17px;
    font-size: 20px;
    line-height: 20px;
  }
}

.btn--others {
  width: 100%;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;
  border: none;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}
