.cooperation {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
}

.cooperation__title {
  @include visually-hidden;
}

.cooperation--dark {
  background-color: #f2f2f2;
}

.cooperation__text {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  font-family: $Oswald;
  text-transform: uppercase;
  color: #111111;
}

.cooperation__address {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
  font-family: $Arial;
  color: #444444;
}
