.example {
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 17px;
  padding-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;

  @media (min-width: $media-tablet) {
    padding-top: 43px;
    padding-bottom: 0;
    background-color: transparent;
  }

  @media (min-width: $media-desktop) {
    display: flex;
    padding-bottom: 30px;
    padding-top: 19px;
  }
}

.example__wrapper {
  @media (min-width: $media-desktop) {
    max-width: 445px;
  }
}

.example__title {
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  font-family: $Oswald;
  color: #111111;

  @media (min-width: $media-tablet) {
    margin-bottom: 64px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $media-desktop) {
    margin-bottom: 146px;
  }
}

.example__description {
  margin-bottom: 25px;
  padding-right: 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: $Arial;
  color: #444444;

  @media (min-width: $media-tablet) {
    margin-bottom: 53px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $media-desktop) {
    margin-bottom: 69px;
  }
}

.example__result {
  @media (min-width: $media-desktop) {
    margin-bottom: 13px;
  }
}

.example__result-wrapper {
  @media (min-width: $media-tablet) {
    display: flex;
    margin-bottom: 52px;
  }

  @media (min-width: $media-desktop) {
    flex-direction: column;
    margin-bottom: 7px;
  }
}

.example__cost {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 34px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-family: $Oswald;
  text-transform: uppercase;
  text-align: center;
  color: #111111;

  @media (min-width: $media-tablet) {
    display: block;
    max-width: 192px;
    margin-left: auto;
    padding-top: 8px;
    padding-right: 1px;
    font-size: 20px;
    line-height: 28px;
    text-align: right;
  }

  @media (min-width: $media-desktop) {
    display: flex;
    justify-content: flex-start;
    max-width: none;
    margin-left: 0;
    text-align: left;
  }
}

.example__cost-text {
  padding-right: 3px;

  @media (min-width: $media-tablet) {
    padding-right: 0;
  }

  @media (min-width: $media-desktop) {
    padding-right: 64px;
  }
}

.example__price {
  white-space: nowrap;
}

.example__cat {
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
  text-align: center;

  @media (min-width: $media-tablet) {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    height: 630px;
    margin-left: -30px;
    margin-right: -30px;
    padding-bottom: 67px;
    background: linear-gradient(to bottom, #ffffff 27%, #f2f2f2 0%);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 50%;
      z-index: -1;
      background: linear-gradient(to bottom, #ffffff 27%, #eaeaea 0%);
    }
  }

  @media (min-width: $media-desktop) {
    max-width: 705px;
    width: 100%;
    height: 583px;
    margin-top: -56px;
    margin-left: auto;
    margin-right: -40px;
    padding-bottom: 0;
    background: transparent;

    &::after {
      bottom: -70px;
      width: 46%;
      background: linear-gradient(to bottom, #ffffff 29.3%, #eaeaea 0%);
    }
  }
}

.example__img {
  @media (min-width: $media-tablet) {
    left: 46px;
    width: 690px;
    height: 517px;
    vertical-align: top;
  }

  @media (min-width: $media-desktop) {
    left: 15px;
  }
}

.example__img--before {
  @media (min-width: $media-tablet) {
    position: absolute;
    top: 0;
    clip: rect(auto, 338px, auto, auto);
  }

  @media (min-width: $media-desktop) {
    clip: rect(auto, 366px, auto, auto);
  }
}

.example__img--after {
  display: none;

  @media (min-width: $media-tablet) {
    position: absolute;
    top: 0;
    display: block;
    clip: rect(auto, auto, auto, 338px);
  }

  @media (min-width: $media-desktop) {
    clip: rect(auto, auto, auto, 365px);
  }
}

.example__toggle-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 202px;
  margin: 0 auto;
  padding-top: 28px;
  padding-left: 4px;

  @media (min-width: $media-tablet) {
    width: 575px;
    padding-top: 16px;
    padding-left: 2px;
    padding-right: 3px;
  }

  @media (min-width: $media-desktop) {
    width: 611px;
    margin: 0;
    margin-left: auto;
    padding-top: 36px;
    padding-left: 0;
    padding-right: 40px;
  }
}

.example__position {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  font-family: $Oswald;
  text-transform: uppercase;
  color: #111111;

  &:nth-child(1) {
    margin-right: 18px;
  }

  &:last-child {
    margin-left: 18px;
  }

  @media (min-width: $media-tablet) {
    display: inline-block;
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted #bebebe;

    &:nth-child(1) {
      margin-right: 22px;
    }

    &:last-child {
      margin-left: 22px;
    }
  }
}

.example__line {
  position: relative;
  flex-shrink: 0;
  width: 84px;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 6px;

  @media (min-width: $media-tablet) {
    width: 427px;
    height: 6px;
    margin-top: -7px;
    background-color: #dcdcdc;
    border: none;
  }
}

.example__range {
  display: none;
}

.example__toggle {
  background-color: transparent;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 6px;
    display: block;
    width: 35px;
    height: 6px;
    background-color: #68b738;
    border-radius: 5px;
    transform: translateY(-50%);
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.15);
  }

  &:focus {
    outline: none;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.15);
  }

  &:active {
    border: 2px solid #68b738;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.25);
  }

  @media (min-width: $media-tablet) {
    position: absolute;
    top: 50%;
    left: calc(50% - 15px);
    z-index: 1;
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
    transform: translateY(-50%);

    &::before {
      left: 50%;
      width: 8px;
      height: 8px;
      transform: translate(-50%, -50%);
    }
  }
}
