.fields {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
}

.fields__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  font-family: $Oswald;
  color: #111111;
}
