.field {
  background-color: $white;
}

.field__name {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  font-family: $Oswald;
  text-transform: uppercase;
  color: $black;
}

.field__input::-webkit-input-placeholder,
.field__comment::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  font-family: $Oswald;
  text-transform: uppercase;
  color: $gray-68;
}

.field__input::-moz-placeholder,
.field__comment::-moz-placeholder {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  font-family: $Oswald;
  text-transform: uppercase;
  color: $gray-68;
}
.field__input:-moz-placeholder,
.field__comment:-moz-placeholder {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  font-family: $Oswald;
  text-transform: uppercase;
  color: $gray-68;
}
.field__input:-ms-input-placeholder,
.field__comment:-ms-input-placeholder {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  font-family: $Oswald;
  text-transform: uppercase;
  color: $gray-68;
}

