.gift {
  position: relative;
  min-height: 289px;
  margin-bottom: 35px;
  padding-top: 187px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    top: 64px;
    left: 50%;
    width: 55px;
    height: 60px;
    background-image: url("../img/gift.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(-50%);
  }

  @media (min-width: $media-tablet) {
    min-height: 200px;
    margin-bottom: 76px;
    padding-top: 72px;
    padding-bottom: 20px;
    padding-left: 423px;
    text-align: left;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }

    &::before {
      top: 50%;
      left: 91px;
      transform: translateY(-58%);
    }
  }

  @media (min-width: $media-desktop) {
    width: 245px;
    min-height: 289px;
    margin-bottom: 0;
    padding-top: 187px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }

    &::before {
      top: 65px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.gift__text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  font-family: $Arial;
  color: #ffffff;

  @media (min-width: $media-tablet) {
    max-width: 165px;
  }
}
