.main-nav {
  color: #111111;
  background-color: #ffffff;
}

.main-nav__link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  font-family: $Oswald;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;
}

.main-nav__toggle {
  font-size: 0;
}
