.main-nav {
  width: 100%;
  margin-top: 9px;
  color: #111111;
  background-color: #ffffff;
}

.main-nav__list {
  @include reset-list;
  margin-left: -20px;
  margin-right: -20px;
}

.main-nav--close .main-nav__list {
  display: none;
}

.main-nav--open .main-nav__list {
  display: block;
}

.main-nav__link {
  display: block;
  padding-top: 23px;
  padding-bottom: 22px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  font-family: $Oswald;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #111111;
  border-top: 1px solid #e6e6e6;
}

@media (min-width: $media-tablet) {

  .main-nav {
    display: block;
    flex-grow: 1;
    width: auto;
    margin-top: 0;
  }

  .main-nav__list {
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 0;
  }

  .main-nav__item {
    margin-left: 35px;

    &:first-child {
      margin-left: 0;
    }
  }

  .main-nav__item--active {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0px;
      display: block;
      width: 98%;
      height: 2px;
      background-color: #68b738;
    }
  }

  .main-nav__link {
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    border: none;
  }
}

@media (min-width: 1300px) {

  .main-nav {
    background-color: transparent;
  }

  .main-nav__list {
    padding-top: 6px;
  }

  .main-nav__item--active {

    &:before {
      left: 2px;
      width: 97%;
      background-color: #ffffff;
    }
  }

  .main-nav__link {
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
  }
}
