.map {
  width: 100%;
  height: 362px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #f2f2f2;
  overflow: hidden;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  @media (min-width: $media-tablet) {
    height: 396px;
    background-image: url("../img/bg-map-tablet@1x.png");
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  @media (min-width: $media-desktop) {
    height: 399px;
    background-image: url("../img/bg-map-desktop@1x.png");
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}
