.other-products {
  background-color: $white;
}

.other-products__title {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  font-family: $Oswald;
  color: $black;
}

.product-tile-other__name {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  font-family: $Oswald;
  text-transform: uppercase;
  color: $black;
}

.product-tile-other__properties {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  font-family: $Arial;
  color: $gray-68;
}
