.other-products {
  padding-top: 27px;
  background-color: #ffffff;

  @media (min-width: $media-tablet) {
    .products {
      padding-top: 20px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  @media (min-width: $media-desktop) {
    padding-top: 32px;
    padding-bottom: 86px;
  }
}

.other-products__title {
  position: relative;
  z-index: 1;
  margin-top: 0;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 27px;
  font-weight: normal;
  font-family: $Oswald;
  color: #000000;
  background-color: #ffffff;

  span {
    padding-left: 20px;
    padding-right: 22px;
    background-color: #ffffff;
  }

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #68b738;
  }

  @media (min-width: $media-tablet) {
    margin-bottom: 77px;
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 28px;
    font-size: 36px;
    line-height: 42px;

    span {
      padding-left: 39px;
      padding-right: 36px;
    }

    &::before {
      top: 25px;
    }
  }

  @media (min-width: $media-desktop) {
    margin-bottom: 75px;
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 0;
    line-height: 46px;

    span {
      padding-left: 38px;
    }

    &::before {
      width: 100vw;
      top: 28px;
      left: -40px;
      right: -40px;
    }
  }
}

.other-products__wrapper {
  @media (min-width: $media-desktop) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.other-products .products__item {
  padding-bottom: 17px;

  &:last-child {
    padding-bottom: 17px;
    border-bottom: 1px solid #ededed;
  }

  @media (min-width: $media-tablet) {
    width: 100%;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
  }
}
