.other-products {
  background-color: #ffffff;
}

.other-products__title {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  font-family: $Oswald;
  color: #000000;
}
