.page-header {
  background-color: #ffffff;

  @media (min-width: $media-desktop) {
    position: relative;
    z-index: 1;
    background-color: transparent;
  }
}

.page-header--presentation {
  @media (min-width: $media-desktop) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 50%;
      height: 696px;
      background-color: #68b738;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: cover;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}

.page-header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 320px;
  padding-top: 14px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $media-tablet) {
    flex-wrap: nowrap;
    width: 768px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: none;
  }

  @media (min-width: $media-desktop) {
    width: 1300px;
    padding-top: 53px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.page-header__logo {
  display: block;
  margin-bottom: 10px;
  flex-shrink: 0;
  width: 190px;

  @media (min-width: $media-tablet) {
    width: 174px;
    height: 57px;
    margin-bottom: 0;
  }

  @media (min-width: $media-desktop) {
    width: 202px;
    height: 59px;
  }
}

.page-header__logo[href] {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__toggle {
  position: relative;
  display: block;
  width: 24px;
  height: 18px;
  margin-top: -15px;
  padding: 0;
  font-size: 0;
  background-color: #222222;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 24px;
    height: 6px;
    background-color: #ffffff;
  }

  &::before {
    top: 2px;
  }

  &::after {
    bottom: 2px;
  }

  @media (min-width: $media-tablet) {
    display: none;
  }
}

.page-header__toggle--open {
  background-color: #ffffff;

  &::before,
  &::after {
    height: 2px;
    background-color: #222222;
  }

  &::before {
    top: 8px;
    transform: rotate(45deg);
  }

  &::after {
    bottom: 8px;
    transform: rotate(-45deg);
  }
}

.page-header__toggle--no-js {
  display: none;
}
