.product-tile {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.product-tile__wrapper {
  flex-grow: 1;
  padding-top: 22px;
}

.product-tile__img {
  flex-shrink: 0;
  width: 140px;
  height: 144px;
}

.product-tile__name {
  max-width: 100px;
  margin-top: 0;
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  font-family: $Oswald;
  text-transform: uppercase;
  color: #111111;
}

.product-tile__properties {
  border-collapse: collapse;
  width: 100%;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  font-family: $Arial;
  color: #444444;
}

.product-tile__value {
  text-align: right;
}

.product-tile__btn {
  width: 100%;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $media-tablet) {

  .product-tile {
    display: block;
    background-color: #f2f2f2;
  }

  .product-tile__name {
    max-width: 130px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .product-tile__img {
    width: 100%;
    min-height: 213px;
  }
}
