.program-form {
  padding-bottom: 31px;
  background-color: #ffffff;

  @media (min-width: $media-tablet) {
    padding-top: 45px;
    padding-bottom: 72px;
    padding-left: 71px;
    padding-right: 67px;
  }

  @media (min-width: $media-desktop) {
    padding-top: 65px;
    padding-bottom: 83px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.program-form__wrapper {
  @media (min-width: $media-tablet) {
    margin-bottom: 47px;
  }

  @media (min-width: $media-desktop) {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
}

.program-form__submit {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $media-tablet) {
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
}

.program-form__btn {
  width: 100%;
  margin-bottom: 21px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $media-tablet) {
    width: 45%;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $media-desktop) {
    width: 570px;
  }
}

.program-form__note {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  font-family: $Arial;
  text-align: center;
  color: #444444;

  @media (min-width: $media-tablet) {
    flex-shrink: 0;
    width: 55%;
    padding-left: 60px;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
  }

  @media (min-width: $media-desktop) {
    width: auto;
    padding-left: 81px;
  }
}
