.program-form {
  padding-bottom: 35px;
  background-color: #ffffff;

  @media (min-width: $media-desktop) {
    .program-form__wrapper {
      display: flex;
      justify-content: space-between;
    }
  }
}

.program-form__note {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  font-family: $Arial;
  color: #444444;
}
