.result-info {
  background-color: $gray-242;
}

.result-info__item-value {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  font-family: $Oswald;
  text-transform: uppercase;
  color: $black;
}

.result-info__item-description {
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  font-family: $Arial;
  color: $gray-68;
}
