html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-size: 14px;
  line-height: 18px;
  font-family: $Arial;
  text-align: left;
  color: #444444;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

fieldset {
  display: table-column;
}
