@mixin reset-list ($padding: 0, $margin: 0) {
  margin: $margin;
  padding: $padding;
  list-style: none;
}

@mixin title-line {
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 100%;
    z-index: -1;
    width: 100vw;
    height: 3px;
    background-color: #68b738;
  }

  @media (min-width: $media-tablet) {
    &::before {
      content: "";
      position: absolute;
      top: 25px;
      left: -100vw;
      z-index: -1;
      width: 100vw;
      height: 3px;
      background-color: #68b738;
    }

    &::after {
      top: 25px;
    }
  }

  @media (min-width: $media-desktop) {
    &::after,
    &::before {
      top: 27px;
    }
  }
}
