$Oswald: "Oswald", "Helvetica", "Arial", sans-serif;
$Arial: "Arial", "Helvetica", sans-serif;
$black: #111111;
$black-light: #222222;
$gray-68: #444444;
$gray-102: #666666;
$gray-152: #989898;
$gray-190: #bebebe;
$gray-205: #cdcdcd;
$gray-230: #e6e6e6;
$gray-235: #ebebeb;
$gray-242: #f2f2f2;
$green: #5eaa2f;
$green-light: #68b738;
$pink: #ff8282;
$white: #ffffff;
