// Fonts
$Oswald: "Oswald", "Helvetica", "Arial", sans-serif;
$Arial: "Arial", "Helvetica", sans-serif;
// Media
$media-tablet: 768px;
$media-desktop: 1300px;
// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
